* {
    margin: 0;
    padding: 0;
}

.top {
    display: flex;
    height: 3vw;
    width: 100%;

}

.top .left {
    margin-top: 2vh;
    padding-left: 98px;
}


.top .right {
    margin-left: 800px;
    margin-top: 2vh;
}
.middle{
    background-color: rgb(17,170,184);
    height: 60vh;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
  }
.middle img {
   width: 150px;
   height: 120px;
   border-radius: 50%;
}
.para1{
   padding: 4px;
   color: white;
}
.para{
   padding: 4px;
   color: white;
}
.bot-mid{
    display: flex;
     flex-direction: column; 
    justify-content: center;
    text-align: center;
    background-color: rgb(77,83,97);
    height: 40vh; 
   }
   .bot-mid .span1{
      color: white;
       padding: 10px;
   }
   
    .bot-mid i{
      margin-top: -18px;
    margin-left: -42px
   
    } 
 input{
    border: 1px solid black;
    width: 73px;
    height: 20px;
    margin-left: 600px;
    background-color: aliceblue;
    padding-left: 17px;

    
 }
 
 .bottom{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-self: centre;
    align-items: center;
    
 }
 .bottom .link1{
   padding: 5px;
   color: #00d2ff;
 }
 .bottom .link2{
padding: 5px;

color: #00d2ff;
   
 }
  .bottom .link3{
   padding: 5px;
   color: #00d2ff;
 } 
  .bottom .link4{
   padding: 5px;
   color: #00d2ff;
   
  }
 
 .last{
    height: 18vh;
    background-color:rgb(77,83,97);;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

 }
 .blue{
   color: #ADD8E6;
 }
    